.Buttons {
  display: flex;
  align-items: center;
  margin-top: 3em;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 10px;

  a {
    text-decoration: none;
    color: white;
    display: block;

    + a {
      margin-left: 20px;
    }
  }

  animation: buttonAnimation 2s linear 2s forwards;
}

.Row {
  width: 100%;
  text-align: center;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}
