$color: #e7d180 !default;
.Button {
  background-color: $color;
  padding: 10px;
  color: whitesmoke;
  border-radius: 20px;
  margin-top: 10px;
  min-width: 100px;
  transition: all .3s ease-in-out;
  outline: 0;

  &:hover {
    cursor: pointer;
    background-color: darken(#e7d180, 5%);
  }
}
