.Navbar {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    gap: 20px;
  }

  a {
    color: white;

    &:hover {
      cursor: pointer;
      color: #a190f5;
    }
  }
}
